



<mat-card class="taustat" *ngIf="material" [ngClass]="{'text-center' : !fullWidthMode}">

    <section class="flex justify-between px-6">

    <!--tuote, ei näytetä fullwidthmodessa-->
        <p *ngIf="!fullWidthMode" class="chip-style">{{material.id}}. {{material.name}} </p>

    </section>
    <section  [ngClass]="{flex: fullWidthMode}">
        
        <img class="mb-1 mx-auto h-[200px]" 
        [ngClass]="{'h-200px': !fullWidthMode, 'h-[360px]': fullWidthMode}"
        [src]="material.image"
        />
        <article class="w-full"
        [ngClass]="{'px-8 flex flex-col justify-between': fullWidthMode}">
            <article>
            <!--
                <h2 class="truncate hover:whitespace-normal">{{product.id}}. {{product.title}} </h2>
                -->
                <!--
               
-->
                <!--tuotekuvaus ja täytteet näytetään vain fullwidth modessa eli alekkain listassa -->
                    <h2><p *ngIf="fullWidthMode" class="truncate hover:whitespace-normal" class="chip-style">
                        <mat-icon>keyboard_arrow_right</mat-icon> {{material.id}}. {{material.name}} </p></h2>
                        <h2><p *ngIf="fullWidthMode" class="truncate hover:whitespace-normal" class="chip-style">
                           <mat-icon>keyboard_arrow_right</mat-icon> {{material.origincountry}}</p></h2>
                           <h2><p *ngIf="fullWidthMode" class="truncate hover:whitespace-normal" class="chip-style">
                            <mat-icon>keyboard_arrow_right</mat-icon> {{material.information}}</p></h2>


               


             <!-- <p *ngIf="fullWidthMode">{{product.description}}</p> -->

            </article>
            <article class="flex justify-between px-4">
             <p class="hintalappu text-red-500"></p>
             
 <!--
                <p class="btn-osta" >
                 Osta <i class="fa-solid fa-arrow-right-long"></i>
                   
                    <mat-icon class="text-green-500 block">shopping_basket</mat-icon>
                    </p>
                -->
               
            
            
            </article>

        </article>
    </section>
</mat-card>



